.contact-area {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    
}

.contact-form {
    border: 5px solid rgb(99,100,102);
}

.element {
    margin: 10px;
}

.center-item {
    display: flex;
    width: 380px;
}

.final {
    display: flex;
    justify-content: center;
}