.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: slategray;
    padding: 15px;
}

.nav-content {
    display: flex;
    min-width: 30%;
    max-width: 250px;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    font-size: 11px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 17px;
}

.icon {
    display: flex;
    align-items: center;
}