.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgb(214,216,216);
    padding: 15px;
}

.nav-content {
    display: flex;
    min-width: 30%;
    max-width: 250px;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    font-size: 11px;
    color: rgb(99,100,102);
    font-family: 'Exo', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 17px;
    text-shadow: 1px 1px black;
}

.icon {
    display: flex;
    align-items: center;
}



